services:
 web:
  image: php:8.2-apache
  ports:
   - "8080:80"
  volumes:
   - ./src:/var/www/html/
  depends_on:
   - db 
  environment:
    DB_HOST: db
    DB_NAME: mydb
    DB_USER: root
    DB_PASSWORD: password 
 db:
  image: mysql:8.0
  environment:
    MYSQL_ROOT_PASSWORD: password
    MYSQL_DATABASE: mydb
  ports:
    - "3307:3306"
  volumes:
    - db_data:/var/lib/mysql  
    - ./db_init:/docker-entrypoint-initdb.d
 phpmyadmin:
  image: phpmyadmin/phpmyadmin
  ports:
    - "8081:80"
  environment:
    PMA_HOST: db
    PMA_USER: root
    PMA_PASSWORD: password
volumes:  
 db_data:
  